<mat-card>
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-subtitle>enter the following data to create a new account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signUpFormState">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>
                        email
                    </mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>
                        password
                    </mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>
                        confirm password
                    </mat-label>
                    <input matInput type="password" formControlName="confirm">
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button (click)="onSignUp($event)">Log in</button>
            </div>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div>
        <button mat-stroked-button (click)="signUpUsingGoogle()">Sign in with Google</button>
    </div>
    <div>
        <button mat-stroked-button (click)="signUpUsingFacebook()">Sign in with Facebook</button>
    </div>
</mat-card>