<nav>
    <mat-toolbar>

        <div class="logo-wrapper">
            <h1>logo</h1>
        </div>

        <div mat-tab-nav-bar [tabPanel]="panel" class="links-wrapper">

            <a mat-tab-link routerLink="/home" [active]="isactive(links.home)" (click)="setActiveLink(links.home)">Home</a>
            <a mat-tab-link routerLink="/about" [active]="activeLink() == '/about'" (click)="setActiveLink(links.about)">About</a>
            <a mat-tab-link routerLink="/test" [active]="activeLink() == '/test'" (click)="setActiveLink(links.test)">Test</a>

        </div>

        <div class="profile-wrapper">
            <mat-slide-toggle aria-label="dark mode" (change)="switchMode($event)"></mat-slide-toggle>
            <app-profile-menu></app-profile-menu>
        </div>

    </mat-toolbar>
</nav>